.SoMe {
    position: absolute;
    
    &.fixed {
    position: fixed;
    z-index: 10001;
    }
    
    bottom: .2em;
    right: .2em;
    // height: 30px;
    // width: 30px;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            width: 1.6em;
            margin: .2em;
        }
    }
}