$padding-top: 20px;
$fade-in: 400ms;
$iconSize: 1.6em;
$footerHeight: 80vh;

.Footer {
    position: fixed;
    bottom: 0;
//     transform: translateY($footerHeight);
    left: 0;
    height: fit-content;
    width: 100%;
    z-index: 10000;
    img{ height: $iconSize;}
    // overflow: hidden;
    .container {
        width: 100%;
        height: auto;
        position: relative;
        .content {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: .4em;
        li {
            margin-bottom: .4em;
        }
        }
    }
    &.collapse {
        transition: background-color $fade-in;
        .handle::before {
            // content: "\25E5";
            content: "";
            position: absolute;
            bottom: 0em;
            left: 0em;
            transform: translate(-50%, 50%);
            width: $iconSize * 2.5;
            height: $iconSize * 2.5;
            line-height: $iconSize;
            text-align: center;
            background-image: radial-gradient(var(--primary-color)20%,var(--secondary-dark-color) 40%, transparent 70%, transparent);
            border-radius: 0 50% 0 0 ;
            cursor: pointer;
            opacity: .9;
            transition: backdrop-filter $fade-in, opacity $fade-in, background-image $fade-in;
            z-index: 2;
        }
        .container {
        margin: 0em;
        height: auto;
        max-height: 0;
        overflow: hidden hidden;
        transition: max-height $fade-in;
        background: var(--primary-gradient);
        box-shadow: 0 0 .4em black;
        border-radius: .4em 0 0 0;
        .content {
            padding: $iconSize $iconSize $iconSize 0;
            width: calc(100% - 90px);
        }
        }
        &.active {
             .handle::before {
                content: "\2715";
                opacity: .6;
                // background: var(--primary-color);
                background-image: radial-gradient(var(--primary-color), var(--primary-color));
                transform: translate(0%, 0%);
                width: $iconSize;
                height: $iconSize;
             }
            .container {
                overflow: hidden auto;
                max-height: $footerHeight;
                // background-color: var(--primary-color);
            }
        }

    }
    .stuff {
        $scaleFactor: .75;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        font-size: $scaleFactor * 100%;

        li {
            margin: .4em;
        }
        .kontakt {
            // float: right;
            .kontaktTitle {
                font-size: $iconSize;
                font-weight: bold;
            }
        }   
    }
    .meta {
        $scaleFactor: .75;
        position: fixed;
        bottom: 0;
        right: -100%;
        border-radius: 5em 0 0 0;
        display: flex;
        flex-direction: column; 
        padding: ($iconSize + .2) ($iconSize + .2) 0 0 ;
        // padding-left: 0;
        box-shadow: 0 0 1em black;
        background-color: var(--secondary--dark-color);
        // backdrop-filter: blur(5px);
        font-size: $scaleFactor * 100%;

        // VISIBILITY SETTINGS;
        opacity: 0;
        transition: right $fade-in, opacity $fade-in;
        .omstillingnu {
                float: right;
            .omstillingnuImg {
                height: $iconSize;
                transform: translate(15%, 40%);
            }
        }
               li.version {
                text-align: right;
        }
    }
    &.active {
        .meta {
        opacity: 1;
        right: 0;
        }
    }
    @keyframes fadeOut {
        from {
            opacity: 1;
        } to {
            opacity: 0;
            visibility: hidden;
        }
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        } to {
            opacity: 1;
            visibility: visible;
        }
    }
}