.Button {
    border: 1px solid var(--text-color);
    border-radius: .3em;
    padding: .4em;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    // &:focus, 
    &.fixed-ul{
        position: fixed;
        top: 2em;
        left: 2em;
    }
    &.fixed-ur{
        position: fixed;
        top: 2em;
        right: 2em;
    }
    &.fixed-bl{
        position: fixed;
        bottom: 2em;
        left: 2em;
    }
    &.fixed-br{
        bottom: 2em;
        right: 2em;
    }

    &:active, &.active {
        background-color: var(--primary-dark-color);
        // background: var(--primary-gradient);
        box-shadow: 0 0 .2em var(--text-color);
        text-shadow: 0 0 .2em var(--text-color);
    }
}