@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');

.leaflet-container {
    /* background-color: var(--background-color); */
    background-color: inherit;
}

.leaflet-popup {
    .leaflet-popup-content-wrapper {
        background: var(--background-color);
        color: var(--text-color);
    }
    .leaflet-popup-tip {
        background: var(--background-color);
        color: var(--text-color);
    }
}