.Navigation {
    ul.routes {
        display: flex;
        justify-content: center;
        list-style: none;

        .active button {
        background-color: var(--primary-dark-color);
        // background-color: var(--bg-color);
    }
    }

}