// @import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');
@import '/src/_libs/_styles/leaflet1.7.1.css';

.leaflet-container {
    background-color: inherit;
}
.leaflet-touch .leaflet-bar {
    span.mapControl {
    display: block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 35px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    &:hover {
        background-color: #f4f4f4;
    }
    }
    span.mapControl:last-of-type {
        border: none;
    }

}
.leaflet-popup {
    .leaflet-popup-content {
        // width: auto !important;
        width: 50vw !important;
        min-width: 250px;
    }
    .leaflet-popup-content-wrapper {
        background: var(--background-color);
        color: var(--text-color);
    }
    .leaflet-popup-tip {
        background: var(--background-color);
        color: var(--text-color);
    }
}