

/** set media breakpoints */
// $breakpoints: (
//   'phone': 320px,
//   'tablet': 768px,
//   'desktop': 1024px
// ) !default;

.Group {
    // display: flex;
    // align-items: top;
    // justify-content: center;
    .content {
        min-height: 50vh;
        // padding: .4em;
        margin-bottom: 50vh;
        .kommuneFilter {
            text-align: center;
            margin: 1em;
        }
        .title {
            font-size: 1em;
            text-align: center;
            width: 100%;  
        }
        .list{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 2em;
            border-bottom: 1px solid var(---color);
            &>* {
                flex: 1;
            }
            button {
                height: 5em;
                max-width: 30vw;
                min-width: 240px;
                font-size: 1.1em;
                font-weight: bold;
            }
        }
        .cards{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            // padding-bottom: 2em;
            // border-bottom: 1px solid var(--primary-color);

        }
        // .details {
            // position: relative;
            // .detailsContainer {
            // position: relative;
            // margin: .4em;
            //     .logo {
            //         display: flex;
            //         justify-content: flex-start;
            //         align-items: flex-end;
            //         img {
            //             width: 50%;
            //             max-width: 200px;
            //         }
            //         }
            //     button {
            //         position: absolute;
            //         top: 0em;
            //         right: 0em;
            //     }
            //     .detailsContent {
            //         word-wrap: break-word;
    
            //     }
            // }
        // }
    }
}