@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.Group {
    // display: flex;
    // align-items: top;
    // justify-content: center;
    .content {
        min-height: 50vh;
        padding: 2em;
        margin-bottom: 50vh;
        .kommuneFilter {
            text-align: center;
            margin: 2em;
        }
        .title {
            font-size: 1em;
            text-align: center;
            width: 100%;  
        }
        .list{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 2em;
            border-bottom: 1px solid var(--text-color);
            &>* {
                flex: 1;
            }
            button {
                height: 5em;
                max-width: 10vw;
            }
        }
        .cards{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .details {
            position: relative;
            .detailTitle {
                font-size: 1.45em;
            }
            .detailContent {
                word-wrap: break-word;
            }
            button {
                position: absolute;
                top: 0;
                right: 0;
                // background-color: blue !important;
            }
        }
    }
}